@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap%27');

*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

.income{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 1s;
  background-image: url("https://t3.ftcdn.net/jpg/00/46/40/36/360_F_46403663_eu2oNaZjGmYXRKg9sQWmK7QiXdJSEGpi.jpg");
  background-size: cover;
}

p {
  font-weight: bold;
}

input {
  padding: 10px 24px;
}

button {
  padding: 10px 24px;
  border-radius: 2px;
  font-weight: bold;
}

