@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap%27');

*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

.loan{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 1s;
  background-image: url("https://img.freepik.com/free-vector/abstract-orange-line-flowing-wave-background_1035-23199.jpg");
  background-size: cover;
}

input {
  padding: 10px 24px;
}

option {
  padding: 10px 24px;
}

label {
  font-weight: bold;
}

button {
  padding: 10px 24px;
  border-radius: 2px;
  font-weight: bold;
  background-color: transparent;
}

button:hover {
  background-color: rgba(0,0,0,.30);
}

p {
  font-weight: bold;
}
  
